<h1>To Do</h1>

<h2><%= @task.title %></h2>
<h3>Completed: <%= @task.completed ? 'Yes' : 'No' %></h3>
<p><%= @task.details %></p>

<p><%= link_to 'Delete', "destroy/#{@task.id}", data: { confirm: "Are you sure?" } %></p>

<p><%= link_to 'Edit task', "/edit/#{@task.id}" %></p>

<p><%= link_to 'Tasks', tasks_path %></p>
